{% extends 'base.html.twig' %}

{% block title %}Collectors{% endblock %}

{% block body %}
    <h1>Collectors</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ collector.id }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ collector.Title }}</td>
            </tr>
            <tr>
                <th>Price</th>
                <td>{{ collector.Price }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_collectors_index') }}">back to list</a>

    <a href="{{ path('app_collectors_edit', {'id': collector.id}) }}">edit</a>

    {{ include('collectors/_delete_form.html.twig') }}
{% endblock %}
